{erl_opts, []}.

{deps, [
  {redis_global, "0.0.4"}
]}.

{relx, [
  {release, {ndisc_redis, "0.0.1"}, [sasl, poolboy, eredis, redis_global, ndisc_redis]},
  {sys_config_src, "config/sys.config.src"},
  {vm_args_src, "config/vm.args.src"},
  {dev_mode, true},
  {include_src, true},
  {include_erts, false},
  {extended_start_script, true}]
}.

{profiles, [
  {prod, [{relx, [
    {dev_mode, false},
    {include_erts, true},
    {include_src, false}]}]
  },
  {dev, [{erl_opts, [debug_info]}]}
]}.

{minimum_otp_vsn, "22"}.

{plugins, [rebar3_run, rebar3_appup_plugin, rebar3_hex]}.